{% extends "report_builder/base.html" %}
{% load static from staticfiles %}

{% block report_form %}
<div id="report_container">
    <form action="" method="post">
        {% csrf_token %}

        {% include "blocks/report_form_header.html" %}

        <section class="sidebar">
            {% include "blocks/sidebar_related_models.html" %}

            <div style="text-align: center;">
                <img style="width: 2.5em;" src="{% static 'report_builder/img/arrow_down.png' %}"/>
            </div>

            {% include "blocks/sidebar_related_fields.html" %}

        </section>
        {% include "blocks/builder_area.html" %}
    </form>
</div>
{% endblock %}
