<div id="tabs-1">
    <div id="field_list_droppable" class="droppable">
        {{ field_list_formset.management_form }}
        {% for form in field_list_formset %}
        {{ form.errors }}
        {% endfor %}
        <table id="field_list_table" class="simple_table">
            <thead>
            <tr>
                <th>Order</th>
                <th>Delete</th>
                <th>Field</th>
                <th>Name</th>
                <th>Sort<span style="padding-left: 1.2em;">Desc?</span></th>
                <th>Width</th>
                <th>Aggregate</th>
                <!--<th>Format</th>-->
                <th>Total</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            {% for form in field_list_formset %}
            <tr>
                <td><span style="cursor: move;" class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                <td>{{ form.DELETE }}<span class="hide_me">{{ form.position }}</span></td>
                <td>
                    {{ form.id }}
                    {{ form.path_verbose.as_hidden }}
                    {{ form.field }}
                    {{ form.field_verbose.as_hidden }}
                    {{ form.path }}

                    {% if form.path_verbose.value %}
                    ({{ form.path_verbose.value }})
                    {% endif %}
                    {{ form.field_verbose.value }}
                </td>
                <td>{{ form.name }}</td>
                <td>{{ form.sort }}{{ form.sort_reverse }}</td>
                <td>{{ form.width }}</td>
                <td onclick="aggregate_tip()">{{ form.aggregate }}</td>
                <!--<td>{{ form.display_format }}</td>-->
                <td>{{ form.total }}</td>
                <td>{{ form.group }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="field-drop-area">
            Drag Fields Here
        </div>
        <div id="tip_area"></div>
    </div>
</div>