<section class="main_area">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Report Display Fields</a></li>
            <li><a href="#tabs-2">Report Filters</a></li>
            <li><a href="#tabs-3">Preview Report</a></li>
        </ul>

        {% include "blocks/builder_area_tab_1.html" %}

        {% include "blocks/builder_area_tab_2.html" %}

        {% include "blocks/builder_area_tab_3.html" %}


    </div>
    <input type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"/>
</section>